

img {
  display: block;
  width: 100%;
}



.fill_emp {
  max-width: 100%;
  background-image:url("../images/emprendedurismo_fondo.jpg");
}


.fill_talento {
  max-width: 100%;
  background-image:url("../images/empresas.jpg");
}

.containemp{
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 0%;
}

.scene {
  padding: 0;
  margin: 0;
}
/*
.fill {
  position: absolute;
  bottom: 5%;
  right: 5%;
  left: 5%;
  top: 5%;
}*/

.expand-width {
  width: 100%;
}

.border {
  border: 2px dashed #00FFAA;
}

.aspect {
  opacity: 0.2;
}

.layer:nth-child(1) {
  opacity: 2.15;
}
.layer:nth-child(1) button {
  -webkit-transform: rotate(150deg);
}

.layer:nth-child(2) {
  opacity: 5.00;
}
.layer:nth-child(2) button {
  -webkit-transform: rotate(120deg);
}

.layer:nth-child(3) {
  opacity: 5.45;
}
.layer:nth-child(3) button {
  -webkit-transform: rotate(90deg);
}

.layer:nth-child(4) {
  opacity: 0.60;
}
.layer:nth-child(4) button {
  -webkit-transform: rotate(60deg);
}

.layer:nth-child(5) {
  opacity: 0.75;
}
.layer:nth-child(5) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(6) {
  opacity: 0.90;
}
.layer:nth-child(6) button {
}


.rock-under-moon {
    position: absolute;
    margin-top: 0%;
    margin-left: 30%;
    width: 55%;
    opacity: 1;
}
