/*===========================================*/
/* This is the Main Stylesheet for Enhenyero Engineering Template
/* Theme Author: Bootstrap Seven Themes
/* Theme URL: BootstrapSeven.Com
/* Created : March 20, 2015

==============================================
CSS Style Structure
- Imports
- General
- Menu/Navigation
- Shortcodes
- Home Page
- Pages
- Portfolio Section and Pages
- Testimonial Section
- Blog/News
- About Us Page
- Contact Us Page
- Sidebar
- Footer Area
/*===========================================*/
/*===========================================*/
/* Imports
===========================================*/
@import url(http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic|Montserrat:700,400|Montserrat+Subrayada:400,700);
/*===========================================*/
/* General
===========================================*/
/*body,
html {
  font-family: 'Helvetica Neue', Helvetica;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    overflow-x: hidden;
}*/
/*h1 {
    font-size: 75px;
    font-weight: 900;
    letter-spacing: -4px;
    text-transform: uppercase;
    line-height: 70px;
}
h2 {
     font-family: 'Helvetica Neue', Helvetica;
    font-weight: 900;
    letter-spacing: -2px;
    margin: 0;
}
h4 {
     font-family: 'Helvetica Neue', Helvetica;
    font-weight: 700;
    letter-spacing: -1px;
}
h5 {
     font-family: 'Helvetica Neue', Helvetica;
    font-weight: 400;
   /* letter-spacing: -1px;
}
p { font-size: 17px }*/

a {
    color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #fff;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block }
* html .clearfix { height: 1% }
.clearfix { display: block }
.noradius { border-radius: 0 }
.nopadding { padding: 0 }
.nopaddingleft { padding-left: 0 }
.nopaddingright { padding-right: 0 }
.nomargin { margin: 0 }
.spacer { padding: 40px 0 }
.smallspacer { padding: 20px 0 }
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #00727c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.form-control:focus {
    border-color: inherit;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: none;
    outline-offset: 0;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*===========================================*/
/* Menu/Navigation 
/*===========================================*/
#top-menu {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    background: #ffffff;
    height: auto;
    color: #000000;
    padding: 0px 10 4px 0;
    /*border-top: 4px solid #000; */
}
#top-menu.navbar { min-height: 35px !important }
#top-menu p.text-right span { margin-left: 1px }
a.logo.navbar-brand { color: #cc5d32 }
.logo {
     font-family: 'Helvetica', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 15px 25px 0;
    margin-right: 40px;
    border: 1px solid #cc5d32;
}
#top-menu .navbar-header small {
    text-transform: uppercase;
    font-weight: 700;
  font-family: 'Helvetica', Helvetica, Arial, sans-serif;
}
ul.top-links li { padding: 5px 0 }
.top-contact ol li {
    margin-left: 20px;
    font-weight: 900;
}
#main-menu {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    background: #00727c;
    min-height: 30px;
}
#sticky {
    padding: 0.5ex;
    width: 600px;
    background-color: #000;
    color: #fff;
    font-size: 2em;
    border-radius: 0.5ex;
}
#main-menu.stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.navbar-collapse { padding-left: 0 }
#main-menu .nav > li > a { padding: 10px 10px }
.navbar-default .navbar-toggle { border-color: transparent }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background: transparent }
.navbar-toggle {
    float: none !important;
    color: #fff;
}
.navbar-toggle i { text-align: center }
#main-menu i.fa.fa-bars { font-size: 20px }
#main-menu.navbar-default .navbar-brand:hover,
#main-menu.navbar-default .navbar-brand { color: #cc5d32 }
.dropdown-menu > li > a,
#main-menu.navbar-default .navbar-nav > li > a {
   font-family: 'Helvetica ', Helvetica, Arial, sans-serif;
    color: #fff;
    /*text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;*/
}
#main-menu.navbar-default .navbar-nav > .active > a,
#main-menu.navbar-default .navbar-nav > .active > a:hover,
#main-menu.navbar-default .navbar-nav > .active > a:focus,
#main-menu.navbar-default .navbar-nav > li > a:hover,
#main-menu.navbar-default .navbar-nav > li > a:focus {
    color: #fff !important;
    background-color: #62cdca;
    border-color: #62cdca;
}
#main-menu .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 2px solid transparent;
    margin-right: 0px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
ol.social-icons li {
    width: 25px;
    height: 25px;
    margin-left: 5px !important;
}
ol.social-icons li a:hover,
ol.social-icons li a:focus { color: #ffffff !important }
ol.social-icons li a {
    color: #ffffff;
    background: #00727c;
    font-size: 15px;
    border-radius: 50%;
    padding: 3px 6px !important;
}
ol.social-icons li:hover a { background: #62cdca }
#main-menu .navbar-form {
    padding: 10px 0 5px 0;
    margin-top: 0;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#main-menu .form-control {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: #656565;
    background: transparent;
    border-right-color: transparent;
    color: #f1f1f1;
}
#main-menu .input-group-btn button.btn.btn-default {
    background: transparent;
    border-color: #656565;
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left-color: transparent;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #fff !important;
    background-color: #62cdca;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus { background-color: transparent }
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #00727c;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0;
    border: 0;
    border-radius: 0;
}
.dropdown-menu > li > a {
    display: block;
    padding: 15px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}





/*===========================================*/
/* Shortcodes
/*===========================================*/
blockquote {
    padding: 20px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #cc5d32;
    background-color: #FAFAFA;
}
blockquote .lead {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.4;
    color: #777;
}
.blockquote-reverse {
    border-right: 5px solid #cc5d32;
    padding: 20px;
}
blockquote.dark {
    background-image: url(../images/04.png);
    background-repeat: repeat;
    color: #ffffff;
}
blockquote.dark .lead { color: #ffffff }
blockquote.color { background-color: rgba(189, 59, 36, 0.15) }
/* Lists */
ul.list-block li {
    line-height: 30px;
    font-size: 16px;
}
ul.list-block i { margin-right: 20px }
/* Tabs */
.tab-style1 .tab-content {
    border: 1px solid #f1f1f1;
    padding: 10px 15px;
    border-top-color: transparent;
}
.tab-style1 .nav-tabs > li > a { border-radius: 0 }
.tab-style1 .nav-tabs > li.active > a,
.tab-style1 .nav-tabs > li.active > a:hover,
.tab-style1 .nav-tabs > li.active > a:focus {
    color: #FFF;
    cursor: default;
    background-color: #cc5d32;
    border: 1px solid #cc5d32;
    border-bottom-color: transparent;
    font-weight: 700;
}
.tab-style1 .nav-tabs { border-bottom: 1px solid rgb(189, 59, 36) }
.tab-style2 .nav-pills > li.active > a,
.tab-style2 .nav-pills > li.active > a:hover,
.tab-style2 .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #cc5d32;
}
.tab-style2 .nav-pills > li > a { border-radius: 0 }
.tab-style2 .tab-content {
    padding: 15px;
    border: 1px solid #f1f1f1;
    border-left-color: #cc5d32;
}
/* Accordion */
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-default > .panel-heading {
    color: #777;
    background-color: #ddd;
    border: 2px solid #ddd;
    border-radius: 0;
}
.panel-default > .panel-heading:hover,
.panel-default > .panel-heading:focus,
.panel-default > .panel-heading.active { background: #ddd }
.panel-default {
    border-color: transparent;
    background: #fbfbfb;
    border-radius: 0;
    border: 0;
}
.panel-group .panel {
    margin-bottom: 10px;
    border-radius: 0;
}
*:focus { outline: none !important }
.panel-title > a { color: #777 }
h4.panel-title { font-weight: 400 }
/* Accordion Style 2 */
#accordion2 .panel-default > .panel-heading {
    background-color: #cc5d32;
    border: 2px solid #cc5d32;
    color: #f1f1f1;
}
#accordion2 .panel-title > a { color: #222222 }
/* Accordion Style 3 */
#accordion3>.panel-default > .panel-heading {
    color: #777;
    background-color: transparent;
    border: 2px solid #ddd;
}
#accordion3>.panel-default > .panel-heading:hover,
#accordion3>.panel-default > .panel-heading.active { background-color: #ddd }
/* Accordion Style 4 */
#accordion4>.panel-default > .panel-heading {
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #cc5d32;
}
#accordion4>.panel-default > .panel-heading:hover,
#accordion4>.panel-default > .panel-heading.active { background-color: #cc5d32 }
#accordion4>.panel-default > .panel-heading.active .panel-title > a,
#accordion4>.panel-default > .panel-heading:hover .panel-title > a,
#accordion4>.panel-default > .panel-heading .panel-title > a:focus { color: #f1f1f1 }
/*===========================================*/
/* Home Page
/*===========================================*/
#header-slider .carousel-inner .item img {
height: auto;
width: 100%;
}
#header-slider .carousel-caption {
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    bottom: auto;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
#header-slider .carousel-indicators {
    position: absolute;
    bottom: 50px;
    left: auto;
    right: 0;
    z-index: 15;
    width: 20%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
#header-slider .carousel-indicators .active {
    width: 20px;
    height: 10px;
    margin: 1px;
    background-color: #cc5d32;
    border-color: #cc5d32;
    border: 0;
    border-radius: 0;
}
#header-slider .carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 0;
}
.left span.fa,
.right span.fa {
    position: absolute;
    top: 43%;
}
a.carousel-control span.fa {
    border: 1px solid #f1f1f1 !important;
    padding: 10px;
    margin-left: -20px;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active { opacity: 1 }
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right { opacity: 1 }
.carousel-fade .carousel-control { z-index: 20 }
button.en-btn,
a.en-btn {
    background-color: #FFFFFF;
    color: #fff;
    border-radius: 40px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    border-color: transparent;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    padding: 10px 50px;
    background: #00727c;
    border: 4px solid #ffffff;
}
button.en-btn:hover,
a.en-btn:hover {
    background-color: #62cdca;
    color: #fff;
    border-color: transparent;
    padding-left: 50px;
    padding-right: 50px;
}
a.en-btn.light {
    background-color: #ffffff;
    color: #222222;
}
a.en-btn.light:hover { background-color: #ffffff }
button.en-btn.dark,
a.en-btn.dark {
    background-color: #222222;
    color: #ffffff;
    border: 0;
}
a.read-more,
a.read-more>span {
    color: #cc5d32;
    font-style: normal;
    font-weight: 900;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
a.read-more:hover { font-weight: 900 }
a.read-more:hover>span {
    -webkit-transform: translateX(90%);
    transform: translateX(90%);
}

/*===========================================*/
/* Portfolio Section and Page
/*===========================================*/
#en-portfolio {
    padding: 80px 0;
    background-color: #ffffff;
}
#portfolio-items .item {
    padding: 30px 0px;
    margin: 5px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.item .hover-bg {
    position: relative;
    overflow: hidden;
}
.hover-bg .hover-text {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0px;
    color: #ffffff;
    transition: all 0.8s;
}
.hover-bg .hover-text.on { opacity: 1 }
.hover-bg .hover-text.off {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s;
    -webkit-transform: translateY(65%);
    transform: translateY(100%);
    opacity: 1;
    background: rgba(245, 185, 11, 0.68)
}
.hover-bg:hover .hover-text.off {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
}
#portfolio-items .owl-controls i.fa { font-size: 30px }
#en-portfolio .owl-theme .owl-controls .owl-buttons div {
    color: #222222;
    display: inline-block;
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: transparent;
    opacity: 0.5;
}
/* Portfolio Page */
#itemsWork .item { margin-bottom: 30px }
.isotope-item { z-index: 2 }
.isotope-hidden.isotope-item { z-index: 1 }
.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope-item {
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.isotope {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
ul.list-inline.cat {
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    text-align: center;
}
ul.cat li a {
    padding: 10px 5px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
ul.cat li a:hover,
ul.cat li a:focus,
ul.cat li a:active,
ul.cat li a.active {
    border-top: 2px solid #00727c;
    border-bottom: 2px solid #00727c;
}
.project-details {
    margin-top: 40px;
    border-top: 1px solid #f1f1f1;
    padding: 30px 0;
    border-bottom: 1px solid #f1f1f1;
}
/*===========================================*/
/* Testimonial Section
/*===========================================*/
#testimonial .item {
    width: 80%;
    margin: auto;
}
.testimonial .owl-theme .owl-controls .owl-page span,
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 20px;
    height: 10px;
    margin: 2px 5px;
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 0;
    background: transparent;
    border: 1px solid #777;
}
.testimonial .owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page.active span {
    opacity: 1;
    background: #cc5d32;
    border-color: transparent;
}
.owl-theme .owl-controls,
.owl-theme .owl-controls { margin-top: 10px }
.testimonial {
    background: url(../images/01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.testimonial .overlay { padding: 4% }
.testimonial.light .overlay { background: rgba(255, 255, 255, 0.92) }
.testimonial.dark .overlay {
    background: rgba(100, 47, 53, 0.85);
    color: #ffffff;
}
.testimonial.color .overlay {
    background-color: rgba(255, 182, 66, 0.85);
    color: #ffffff;
}
.testimonial.color blockquote footer { color: #f1f1f1 }
.testimonial.color .owl-theme .owl-controls .owl-page span {
    background: transparent;
    border: 1px solid #ffffff;
}
.testimonial.color .owl-theme .owl-controls .owl-page.active span {
    opacity: 1;
    background: #ffffff;
    border-color: transparent;
}
.testimonial img {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}
.testimonial blockquote {
    border-left: 0;
    font-style: italic;
    background-color: transparent;
}
.testimonial blockquote footer {
    margin-top: 15px;
    color: #cc5d32;
}

/*===========================================*/
/* Blog/News
/*===========================================*/
#en-news {
    padding: 80px 0;
    background: #fafafa;
    background-image: url(../images/04.png);
    background-repeat: repeat;
    color: #ffffff;
}
.news>a h4 { transition: all 0.8s }
.news:hover>a h4 { color: #cc5d32 }
.news>hr {
    width: 100px;
    border-color: #333333;
    margin-left: 0;
}
span.meta-date,
p.meta { color: #5C5C5C }
.meta-date i,
p.meta span { margin-right: 10px }
/* Partners */
#en-partners {
    padding: 80px 0;
    background: #ffffff;
}
/* News / Blog Page */
#blogposts .news { margin-bottom: 60px }
#blogposts .news hr { border-color: #f1f1f1 }
.news:hover>a h3 { color: #cc5d32 }
.news .featured-img { position: relative }
.featured-img span.meta-date {
    position: absolute;
    top: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.48);
    color: #ffffff;
}
/* Pagination */
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #cc5d32;
    border-color: #cc5d32;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #cc5d32;
    text-decoration: none;
    background-color: #fff;
    border: 2px solid #ddd;
    margin: 5px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #cc5d32;
    background-color: #62cdca;
    border-color: #ddd;
}
.pagination li.active a { color: #fff !important }
/*===========================================*/
/* About Us Page
/*===========================================*/
/* Values */
.values {
    height: 100%;
    width: 100%;
    padding: 60px 50px 40px 50px;
    color: #ffffff;
    overflow: hidden;
    height: 450px;
}
.detail { position: relative }
.values hr {
    width: 80px;
    margin-left: 0;
    border-color: rgba(255, 255, 255, 0.44);
}
.values span.icons { font-size: 38px }
.c1 { background: #D3932A }
.c2 { background: #E69D27 }
.c3 { background: #cc5d32 }
.values span.icons {
    font-size: 238px;
    position: absolute;
    bottom: -200px;
    right: -50px;
    color: rgba(255, 255, 255, 0.16);
}
/* Awards */
#en-awards { padding: 80px 0 }
.awards i.icons,
.career-position i.icons {
    font-size: 60px;
    margin-left: -20px;
}
/* Why Us Section */
#en-why-us,
#en-application,
#en-offices {
    padding: 80px 0;
    background: #fafafa;
}
#en-why-us .section-title.text-left { margin-top: 20px }
/*===========================================*/
/* Contact Us Page
/*===========================================*/
#contact-form .alert-danger {
    color: #000000;
    background-color: #FFF0D9;
    border-color: #cc5d32;
}
.form input.form-control {
    height: 50px;
    color: #777;
    background-color: transparent;
}
.form .form-control { margin-bottom: 20px }
.form textarea { background: transparent }
.offices { margin-bottom: 30px }
/* Map */
.map iframe {
    height: 300px;
    width: 100%;
    border: 0;
}
/*===========================================*/
/* Sidebar
/*===========================================*/
.sidebar-widget {
    margin-bottom: 30px;
    border-top: 2px solid #cc5d32;
    padding: 30px;
    background: #FBFBFB;
}
.sidebar-widget .widget-title h4 { color: #777777 }
.recent-posts .media {
    border-bottom: 1px dashed #f1f1f1;
    padding: 10px 0;
}
.recent-posts .media img,
.recent-posts .media a h5 { transition: all 0.5s }
.recent-posts .media span { margin-right: 5px }
.recent-posts .media:hover img { opacity: 0.7 }
.recent-posts .media:hover a h5 { color: #cc5d32 }
.sidebar-widget ul.list-block li i,
.sidebar-widget ul.list-block li a {
    color: #777;
    transition: all 0.5s;
}
.sidebar-widget ul.list-block li:hover a { color: #cc5d32 }
.sidebar-widget ul.list-block li:hover i {
    margin-left: 10px;
    color: #cc5d32;
}
.tags ul li {
    border: 2px solid #ddd;
    padding: 5px 10px;
    margin-bottom: 10px;
    transition: all 0.5s;
}
.tags ul li:hover {
    background: #cc5d32;
    border-color: #cc5d32;
}
.tags ul li:hover>a { color: #ffffff }
/*===========================================*/
/* Footer Area
/*===========================================*/
#en-footer .footer-content {
    padding: 80px 0;
    background: #000000;
    color: #777;
}
#en-footer .bottom-footer {
    background: #fafafa;
    background-color:#90adc9;
    background-repeat: repeat;
    color: #ffffff;
    padding: 20px 0 10px;
}
.bottom-footer a { color: #f1f1f1 }
a.footer-logo { margin-bottom: 20px }
.footer-logo {
    font-size: 26px;
    color: #777;
     font-family: 'Helvetica', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 40px;
    border: 1px solid #777777;
    padding: 2px 7px;
}
/* Footer Widget */
.widget { border-left: 1px solid #000000 }
.widget-title.text-left hr { margin-left: 0 }
.widget-title.text-center {
    width: 60%;
    margin: auto;
    margin-bottom: 60px;
}
.widget-title h4 {
    text-transform: uppercase;
    color: #f1f1f1;
}
.widget-title hr {
    width: 60px;
    border-color: #cc5d32;
}
.widget li i,
.widget a {
    color: #ffffff;
    transition: all 0.5s;
}
.widget li:hover a { color: #cc5d32 }
.widget li:hover i {
    margin-left: 10px;
    color: #cc5d32;
}
.widget .media a h5 {
    color: #f1f1f1;
    transition: all 0.5s;
}
.widget .media:hover a h5 { color: #cc5d32 }
/* Form */
.widget .form-control {
    height: 50px;
    color: #f1f1f1;
    background-color: transparent;
    border: 1px solid #000000;
}


.p23{
padding-top: 23px;
}

.abajo{
padding-bottom: 75px;
}

.abajo126{
padding-bottom: 126px;
}

.abajo2{
padding-bottom: 27px;
}

.arriba4{
padding-bottom: 35px;
}


.abajo3{
padding-bottom: 162px;
}

.abajo300{
padding-bottom: 162px;
}


.abajo115{
padding-bottom: 115px;
}


.arriba{
padding-top: 20px;
}

.arribaabajo{
padding-top: 20px;
padding-bottom: 50px;

}


.arribam{
padding-top: 10px;
}

.arriba5{
padding-top: 51px;
padding-bottom: 30px;


}

 .redes {
    margin-top: 15px;
}

<!-- submenu -->



.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
   /* -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;*/
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
   /* -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;*/
}



#img_abajo {
    margin-top:50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background: #354a5d;
}


.text_lef {
   padding-left: -10px;
}


.h2-colorempresa{
    color:#74296a;

}

.cont_menu{
background:#00727c;
padding-bottom: 100px;
padding-left: 0px;
padding-right: 0px;
}

.menu_emp{
background:#702868;
padding-bottom: 100px;
padding-left: 0px;
padding-right: 0px;
}

.text_cargo{
 font-size: 16px;
 color:#55a7b3;/* 
 padding-top: -40px;*/
}

.color_titulo{
 color:#00727c;
}

.text_nom{
    margin-bottom: -22px;
    font-size: 17px;
   color:#868484;
}

/** imagen fotante */

.img_flot {
  position:absolute;
 top:0px;
 left:0px;
 padding-top: 300px;
 border:none;
}

.img_flot01 {
 position:absolute;
 top:0px;
 left:0px;
 padding-top: 300px;
padding-right: 600px;
 border:none;
}

.img_flot02 {
  position:absolute;
 top:0px;
 left:200px;
 padding-top: 200px;
 padding-right: 700px;

 border:none;
}

.cuadro_text {
background-color:#62cdca;
color:#fff;
padding-bottom: 80px;
padding-left: 30px;
-webkit-border-radius: 5px 10px;  /* Safari  */
  -moz-border-radius: 5px 10px;     /* Firefox */
}


.img_slider {
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    bottom: auto;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
	padding-left: 100px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}


.img_slider2{
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
    bottom: auto;
    z-index: 10;
   /* padding-top: 20px;
    padding-bottom: 20px;*/
	/*left: 30%;*/
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}


.img_slider3{
    position: absolute;
    top: 3%;
    right: 0;
    left: 0;
    bottom: auto;
    z-index: 10;
   /* padding-top: 20px;
    padding-bottom: 20px;*/
    left: 10%;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}





.container_color {
    background-color: #c9d5e4;
}

.color_titulo1{
 color:#ddd;
}

.color_titulo2{
 color:#fff;
}


.inp{
margin-left: -30px;
}



.text_center{
 text-align: center;
}



.img-center {
    margin: 0 auto;
}


.contenedor-img {
    float: left;
    overflow: hidden;
    position: relative;
    cursor: default;
    background: #fff;
}





.contenedor-img .mascara {
    width: 375px;
    height: 253px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}



/*Ejemplo 1*/
.ejemplo-1 img {
transition: all 0.2s linear;
}
.ejemplo-1 .mascara {
opacity: 0;
background-color: rgba(46,157,120, 0.7);
transition: all 0.3s ease-in-out;
}
.ejemplo-1 h2 {
transform: translateX(-200px);/*Desplazamos a la izquierda*/
opacity: 0;
transition: all 0.7s ease-in-out;
}
.ejemplo-1 p {
transform: translateX(200px);/*Desplazamos a la derecha*/
opacity: 0;
transition: all 0.4s linear;
}
.ejemplo-1 a.link{
opacity: 0;
transition: all 0.4s ease-in-out;
transform: translateY(100px)/*Desplazamos para abajo*/
}
.ejemplo-1:hover img {
transform: scale(1.1);/*Damos un ligero zoom a la imagen*/
}
.ejemplo-1:hover .mascara {
opacity: 1;
}
.ejemplo-1:hover h2,
.ejemplo-1:hover p,
.ejemplo-1:hover a.link {
opacity: 1;
transform: translateX(0px);/*Regresamos a las posiciones originales*/
}
.ejemplo-1:hover p {
transition-delay: 0.1s;
}
.ejemplo-1:hover a.link {
transition-delay: 0.2s; /*Aplicamos un pequeño retardo para que se muestre al final*/
transform: translateY(0px);
}




.full {
    background: url(../images/convocatorias.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
